<div class="xwikidatacontent">
  #set($rsvc= $xwiki.xWiki.getRightService())
  #if ($request.getParameter("text"))
     #set ($spaceName = $request.getParameter("text"))
     #if($spaceName && $spaceName!="")
       #set ($wspace = $xwiki.xwsmgr.getSpace($spaceName))
     #end
  #end

  #if($wspace)
    <p style="font-weight:bold"> $msg.get("xws.wysiwyg.resultsforspace") : $wspace.displayTitle</p>
    ## Link to Workspace Home
    #set($bentrydoc = $xwiki.getDocument("${wspace.spaceName}.WebHome"))
    <a href="#" onclick="document.forms[0].wiki_page.value='$bentrydoc.name';if ('$doc.web' != '$bentrydoc.web') document.forms[0].wiki_space.value='$bentrydoc.web'; else document.forms[0].wiki_space.value=''; return false;">
    $msg.get('xws.wysiwyg.spacehomelink')</a>
    ## Iterate over space applications
    #set($apps = $xwiki.xwsmgr.getApplicationsNames($wspace.spaceName))
    #foreach($app in $apps)
        #set($docentries = $xwiki.xwsmgr.searchDocuments($wspace.spaceName, $app))
        <div>
        $msg.get("xws.wysiwyg.docsforapplication") <em>$app</em>
        #if ($docentries.size() > 0)
            <table width="95%" cellspacing="3px">
                #foreach ($item in $docentries)
                    #if ($xwiki.hasAccessLevel("view", "${context.database}:${item}"))
                        <tr>
                            #set($bentrydoc = $xwiki.getDocument($item))
                            <td>* <a href="#" onclick="document.forms[0].wiki_page.value='$bentrydoc.name';if ('$doc.web' != '$bentrydoc.web') document.forms[0].wiki_space.value='$bentrydoc.web'; else document.forms[0].wiki_space.value=''; return false;">
                                $bentrydoc.name</a>  $msg.get("lastmodifiedby")  $xwiki.getLocalUserName($bentrydoc.author) $msg.get("lastmodifiedon") $xwiki.formatDate($bentrydoc.date,"MMMM dd, yyyy HH:mm")
                             </td>
                         </tr>
                    #end
                #end
            </table>
        #else
            $msg.get("xws.wysiwyg.nodocforthisapp")
        #end
        </div>
     #end
  #end
</div>
