<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.xwiki.eclipse.plugin"
   name="%pluginName"
   version="0.01"
   provider-name="%providerName"
   class="org.xwiki.eclipse.plugin.XwikiEditorExamplePlugin">
   <runtime>
      <library name="xwikieclipseplugin.jar">
         <export
               name="*">
         </export>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.views"/>
   </requires>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.xwiki.eclipse.plugin.XwikiEditor"
            contributorClass="org.xwiki.eclipse.plugin.XwikiActionContributor"
            default="true"
            extensions="xwiki"
            id="org.xwiki.eclipse.plugin"
            name="org.xwiki.eclipse.plugin">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            extensions="xwiki"
            class="org.xwiki.eclipse.plugin.XwikiDocumentSetupParticipant">
      </participant>
   </extension>
</plugin>