<div id="space-dashboard">
 #set($link=$workspace.homeURL)
 #set($icon = 'images/mini-space.png')
 #set($cookieName="${context.user}_space_${workspace.spaceName}")
 #set($expanded = "expanded")
 #set($expanded = $xwiki.getUserPreferenceFromCookie($cookieName))
 <div class="inlinepanel ${expanded}">
 <div class="inlinepaneltitle" style="background-color:#${workspace.color};">
   $msg.get('xws.spacedashboard.recentmodifications')
 </div>
 <div class="inlinepanelcontents">
#spacestories($workspace.spaceName "15")
 </div>
 </div>
</div>
