<script type="text/javascript" src="$xwiki.getSkinFile("xws.js")"></script>
<link href="$xwiki.getSkinFile("css/lightbox/lightbox.css", true)" rel="stylesheet" type="text/css" />
<link href="$xwiki.getSkinFile("style.css", true)" rel="stylesheet" type="text/css"  />
<!--[if lte IE 6]>
    <link href="$xwiki.getSkinFile("ie.css", true)" rel="stylesheet" type="text/css"  />
    <script type="text/javascript" src="$xwiki.getSkinFile("supersleight.js")"></script>
<![endif]-->

#if ($workspace && $context.getAction() == "edit" && $doc!="WebPreferences")
<link href="$xwiki.getSkinFile("editpagewiki.css", true)" rel="stylesheet" type="text/css"  />
<style>
 #xwikieditwysiwyg, #xwikieditwiki, #xwikieditobject, #xwikieditclass, #xwikieditrights, #xwikiedithistory {display: none;}
</style>
#end
#if ($context.getAction() == "inline")
<link href="$xwiki.getSkinFile("editpagewiki.css", true)" rel="stylesheet" type="text/css"  />
#end
#if ($context.getAction() == "admin")
<link href="$xwiki.getSkinFile("editpagewiki.css", true)" rel="stylesheet" type="text/css"  />
#end

#if($workspace)
#set($color=$workspace.getColor())
#elseif($doc.space!="XWS" && $doc.space!="XWiki" && $doc.space!="XWSAdmin")
 #set($color="coffee") ## For "technical documents" not intended to be see by users (XWSCode/*, etc.)
#else ## For my dashboard, my spaces, etc. (every document that belong to workspaces UI but is not in a workspace)
 #set($color="default")
#end
<style>
body {background-image: url($xwiki.getSkinFile("colors/${color}/workspaces-BG.png")) ;}
body.inlinebody, body.editbody, body.adminbody {background-image: url($xwiki.getSkinFile("colors/${color}/workspaces-AD-BG.png")) ;}
#xwikimaincontainer, body.hideright #xwikimaincontainer {background-image :url($xwiki.getSkinFile("colors/${color}/workspaces-TOP.png"));}
body.inlinebody #xwikimaincontainer, body.editbody #xwikimaincontainer, body.adminbody #xwikimaincontainer{background-image :url($xwiki.getSkinFile("colors/${color}/workspaces-AD-TOP.png"));}
</style>
